html {
    font-size: 15px;
    color: #4a4a4a;
    font-family: "微软雅黑";
}
body {
    background-image:url(cover1.jpg); 
	  background-color: #000;
    margin: 0;
    color: #cdcdcd;
    font-family: arial,"Microsoft YaHei","微软雅黑";
    background-size: 100% auto;
    background-repeat: no-repeat;
	  line-height: 180%
}
.reference {
    font-size: 14px;
    line-height: 18px;
    color: #666;
    padding-top: 40px;
  }
.sub-title p {
	  margin: 0 auto;
    width: 980px;
    padding-bottom: 80px;
    color: #cdcdcd;
}
.para {
    position: relative;
    padding-top: 20px;
}

.pc {
    display: block;
}
  .para p {
    width: 980px;
    margin: 0 auto;
    line-height: 28px;
    padding-bottom: 20px;
}
.para h1{
  width: 980px;
    margin: 0 auto;
    line-height: 28px;
    padding-bottom: 20px;
    padding-top: 30px;
  font-size: 20px;
  color: steelblue;
}
img{
  padding-top: 20px;

}
.title{
	  height: 80px;
    font-size: 60px;
    line-height: 78px;
    color: #fff;
    width: 980px;
    margin: 0 auto;
    padding-top: 160px;
    font-weight: bold;
}
.splitline {
    width: 980px;
    height: 1px;
    background: #666;
    margin: 0 auto;
    margin-bottom: 20px;}

  #chart{
    width: 980px;
    margin: 0 auto;
    padding-bottom: 40px;
    border: #555 1px solid;
}
  #form {
                  position: relative;
                  right: 0px;
                  top: 10px;
                  padding-bottom: 20px;
            }

 .axis path,
 .axis line {
              fill: none;
              stroke: #FFF;
              shape-rendering: crispEdges;
            
            }
 .axis text{
              fill: #fff;
              font: 10px sans-serif;
            }
.legend{
    fill: #fff;
  }

 .tooltip {
              position: absolute;
              z-index: 10;
            }

 .tooltip p {
              background-color: white;
              border: gray 1px solid;
              padding: 2px;
              color: gray;
              max-width: 180px;
            }
.front, .back {
	position: absolute;
	top: 0;
}
.back {
	position: fixed;
    width: 100vw;
    height: 100vh;
    /*z-index: -1;*/
}

.front_part {
width: 980px;
	height: 150vh;
}

.front_container {
width: 980px;
    margin:   450px auto;
    padding: 10px;
    border: #555 1px solid;
    z-index: 1000000;
}
#front1{

    width: 980px;

}
@media screen and (min-width: 800px){
    .front_container {
        width: 350px;
        /*margin-top: 50vh;
        margin-left: 800px;*/
    }
}

@media screen and (min-width: 1500px){
    .front_container {
        width: 600px;
        margin-left: 1200px;
    }

}
